#m-login{margin-top: 100px;}
.m-loginlabel{float: left; width: 25%;}
.m-logintext{float: left; width: 50%; margin-top: 5px; margin-bottom: 5px;}
#m-loginname, #m-loginpwd{width: 100%; margin: 0 auto;}
#m-rememberpwd{float: left; clear: both; width: 49%;}
#m-login-op{width: 100%; margin: 0 auto;}
#m-autologin{float: left; width: 49%; margin-left: 5px;}
#m-loginbtn{clear: both; width: 100%; margin: 0 auto;}

.m-message{width: 100%; height: auto;}
.m-message-left{float: left; width: 15%; height: auto; border: 0px solid red;}
.m-message-profile{width: 34px; height: 34px; border: 1px solid #cccccc;}
.m-message-profile img{padding: 2px;}

.m-message-right{float: left; font-size: 12px; width: 85%;}
.m-message-author, .m-message-content, .m-message-detail{padding-left: 5px;}
.m-message-author{}
.m-message-author .postdate{font-weight: normal; font-size: 9px; color: #FFD306; float: right;}
.m-message-content{width: 98%; border: 0px solid red; padding-top: 5px; padding-bottom: 5px;}
.m-message-content span{white-space: normal; width: 100%; font-weight: normal; }
.m-message-detail{} 
.m-message-detail span{font-weight: normal; color: #cccccc;} 

.m-profile{width: 100%; height: 70px; font-size: 12px; font-weight: normal; line-height: 24px;}
.m-profile-left{float: left; width: 25%; height: auto; padding-top: 5px;}
.m-profile-right{float:left; width: 75%; height: auto;}

.m-about{width: auto; height: auto; padding-top: 70px; font-size: 12px; text-align: center;}
.m-about-logo{text-align: center; margin-bottom: 100px;}
.m-about-description{line-height: 24px;}
.m-about-contact{line-height: 24px; padding-bottom: 0;}

#m-post-text{height: 100%; resize: none;}